---
layout: home
page-id: home
---

<!-- Fazendo a Diferença -->
<section id="quem-somos" class="padding-section">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns margin-title">
      <h2>Fazendo a diferença</h2>
      <h3 class="dc-text">Quem Somos</h3>
    </div>
    <div class="small-12 medium-6 large-6 columns" data-aos="fade-right">
          DC Associados é um escritório de advocacia diferenciado e formado por um time cujo propósito é simplificar o direito.
          <br><br>
          Somos advogados corporativos, especializados em direito societário/M&A/governança corporativa, private equity, contratos e consultoria jurídica estratégica. Representamos interesses de clientes em diferentes indústrias e perfis, incluindo Cias. Abertas, investidores, fundos de private equity/venture capital/hedge funds, empresas investidas e familiares, executivos, empreendedores e Family Offices. Somos abrangentes no perfil de nossos clientes, mas focados em nossa atuação.
          <br> <br>
          Nosso histórico profissional nos permite conhecer profundamente as necessidades de nossos clientes e o que significa liderar 
    </div>
    <div class="small-12 medium-6 large-6 columns" data-aos="fade-left">
      um departamento jurídico: os desafios, as necessidades e as soluções jurídicas necessárias e disponíveis. Temos a expertise e o perfil para fazer mais com menos: sofisticação para interagir com demandas e expectativas do C-Level, board, acionistas e, ao mesmo tempo, gerenciar recursos com eficiência e alinhamento de interesses, fazendo acontecer.
      <br><br>
      Nossa sede está baseada em São Paulo, e nossos profissionais são reconhecidos por sua excelência, ética, capacidade e entrega. Ao longo de suas respectivas carreiras, receberam inúmeros prêmios e reconhecimentos internacionais por sua atuação, incluindo “M&A Individual of the Year-Latin America” pela ILO-ACC-Association of Corporate Counsel-NY; e “Best Legal Department - Latin America, pelo International General Counsel Awards-NY.
    </div>
  </div>
</section>

<!-- Foto  -->
<section>
  <div class="row full-width large-collapse medium-collapse small-collapse dc-color">
    <div class="small-12 columns margin-bottom-neg-1" data-aos="fade"data-aos-duration="700">
      {% include img.html max-wid="1920" b-points="1920|1482|1042|791|480" file="escritorio.jpg" alt="Escritorio" %}
    </div>
  </div>
</section>

<!-- O que nos move -->
<section id="proposito">
  <div class="row full-width relative large-collapse medium-collapse">
    <div class="small-12 medium-6 large-6 columns v-center">
      <div class="content-box" data-aos="fade-right">
        <div class="margin-title">
          <h2>O que nos move</h2>
          <h3 class="dc-text">Nosso Propósito</h3>
        </div>
        <p>
          É tempo de simplificar o Direito.<br> 
          De ter menos formalidade e mais resultados.<br> 
          De ter menos pompas e mais soluções.<br> 
          Por isso, buscamos sempre o mais simples, mesmo quando estamos diante do complexo.<br>
          De executivo para executivo.<br>
          E sempre em busca de simplicidade.<br> 
          Porque simplicidade se faz com agilidade, eficiência e excelência.<br>
        </p>
        <h4 class="dc-text hide-for-medium-only">
          DC Associados<br>
          Simplifique o Direito.
        </h4>
      </div>
    </div>
    <div class="small-12 medium-6 large-6 columns dc-gray">
      <span  data-aos="fade" data-aos-delay="100" data-aos-duration="750">
        {% include img.html max-wid="1482" b-points="1482|1042|791|480" file="escritorio-2.jpg" alt="DC Associados" %}
      </span>
    </div>
  </div>
</section>

<!-- Time -->
<section id="time" class="padding-section">
  <div class="row full-width text-center">
    <div class="small-12 medium-12 large-12 columns margin-title" data-aos="fade-up">
      <h2>Nosso maior ativo: Nossos talentos</h2>
      <h3 class="dc-text">time</h3>
    </div>
  </div>
    <div class="row full-width large-collapse medium-collapse">
        {% for person in site.data.time %}
          <div class="small-12 medium-4 large-4 columns relative text-center hover03">
              <a data-reveal-id="{{ person.id}}">
                <div class="dc-color">
                  <div class="pic-frame" data-aos="fade" data-aos-delay="{{ person.delay }}" >
                    {% capture person-name %}{{ person.name }}{% endcapture %}
                    {% capture person-id %}{{ person.id }}.jpg{% endcapture %}
                    {% include img.html max-wid="1042" b-points="1042|791|480" file= person-id alt=person-name %}
                  </div>
                </div>  
                <h4 class="dc-text">{{ person.name }}</h4>
              </a>
          </div>
        {% endfor %}
    </div>
  </div>
  {% for person in site.data.time %}
  <div id="{{ person.id}}" class="reveal-modal text-center" data-reveal aria-labelledby="modalTitle" data-options="animation:fade;" aria-hidden="true" role="dialog">
    <h2 id="modalTitle" class="dc-text">{{ person.name}}</h2>
    <p>{{ person.description}}</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  {% endfor %}
</section>

<!-- Especialidades -->
<section id="especialidades" class="padding-section dc-gray">
  <div class="row">
    <div class="small-12 columns text-center margin-title" data-aos="fade">
      <h2>Áreas em que nos diferenciamos</h2>
      <h3 class="dc-text">Especialidades</h3>
    </div>
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" data-equalizer>
      {% for especialidade in site.data.especialidades %}
        <li data-aos="fade-up">
          <div data-equalizer-watch>
            <h4 class="dc-text">{{ especialidade.title }}</h4>
            <img src="./assets/img/border.svg" alt="dc-border" class="full-width">
            <ul class="custom-list">
              {% for topic in especialidade.topics %}
              <li>{{ topic }}</li>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<!-- Entregas -->
<section id="entregas" class="padding-section dc-entregas">
  <div class="row text-center relative">
    <div class="small-12 columns margin-title" >
      <h2>Nossa Entrega</h2>
      <h3>Track-Record recente de nosso time</h3>
    </div>
    <div class="small-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4" data-equalizer>
        {% for entrega in site.data.entregas %}
          <li>
            <div data-equalizer-watch>
              <img src="./assets/img/icon/icone_{{ entrega.id }}.png" alt="Image 1" data-aos="zoom-in" />
              <p>{{ entrega.description }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

