
.pic-frame {
	overflow: hidden;
	transform:  translateZ(0) translateX(0) translateY(0);
	margin: -2px;
}

.row.collapse > .column, .row.collapse > .columns{
  padding: 0;
}

// /* Zoom Out #1 */
.hover03 .pic-frame img {
	transform: scale(1.1) translateZ(0) translateX(0) translateY(0);
	transition: .3s ease-in-out;
	  -webkit-margin-before:0em;
-webkit-margin-after:0em;
}
.hover03 .pic-frame:hover img {
	transform: scale(1.05) translateZ(0) translateX(0);
	  -webkit-margin-before:0em;
-webkit-margin-after:0em;
}