<link rel=”author” href=”https://plus.google.com/116739255173599428138”/>
<link rel="icon"  type="image/ico"  href="./assets/img/{{ site.favico }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">



<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700' rel='stylesheet' type='text/css'>

<!-- style Normalize + Foundation + Styles -->
<link rel="stylesheet" href="./assets/css/style.css">
<!--<link rel="stylesheet" href="{{ site.baseurl }}/lib/custom.css">-->

<!--<script>document.createElement( "picture" );</script>-->
<!--<script src="./assets/js/head.js"></script>-->