
<section class="hero full-height relative">
  <div class="row intro center-center">
    <div class="small-12 medium-12 large-12 columns">
      <h1 class="text-light">
        DC Associados
      </h1>
      <h2 class="text-light">
        Simplifique o direito
      </h2>
      <a href="#quem-somos" class=" button btn-outline-light page-scroll" data-aos="fade-left" data-aos-delay="850">SAIBA MAIS</a>
    </div>
    <!--<div class="small-centered medium-uncentered medium-6 large-5 columns">
      <div class="tech-img"></div>
    </div>-->
  </div>
</section>
