<footer id="contato">
    <div class="row full-width relative large-collapse medium-collpase">
        <div class="large-6 medium-6  small-12 columns v-center">
            <div class="content-box" data-aos="fade-right">
                <h2 class="dc-text margin-title">Entre em contato com a gente.</h2>
            <h5 class="dc-text">
                Parque da Cidade - Torre Tarumã<br>
                Av. das Nações Unidas 14.401<br> 
                23 Andar cj. 2304 e 2305<br>
                São Paulo, SP<br>
                +55 11 2619 3899<br>
                contato@dcassociados.com.br<br>
            </h5>
            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns dc-gray">
        <div id="map" class="dc-map" data-aos="fade" data-aos-delay="150"></div>
    </div>
    </div>
</footer>