//----------- import fonts ----------//

@import url('https://fonts.googleapis.com/css?family=Varela+Round'),
        url('https://fonts.googleapis.com/css?family=Arvo');

//----------- theme config ----------//

$theme-font-serif: 'Varela Round', sans-serif; ;//'Arvo', serif; 
$theme-font-sans-serif:'Varela Round', sans-serif; 
$theme-font-size: 15px;

$theme-dark-color: #000;
$theme-light-color: #fff;
$transparent: transparent;

$theme-link-color: #f1f1f2;

$dc-color:  #223ded;


.text-light{
    color: $theme-light-color;
}

.dc-color{
    background: $dc-color;
}

.dc-entregas{
    background: $dc-color;
    color: $theme-light-color;

    img{
       max-height: 150px; 
    }
}

.dc-text {
    color: $dc-color;
}

.dc-gray{
    background: #f1f1f2;
}


//----------- base ----------//

@import

    //----------- bower  ----------//
    "../../../bower_components/normalize-css/normalize",
	"../../../bower_components/foundation/scss/foundation",
    "../../../bower_components/slick-carousel/slick/slick.scss",
    "../../../bower_components/aos/src/sass/aos.scss",
    "../../../bower_components/swipebox/scss/swipebox.scss",

    //----------- base ----------//

	//config
    "./config/config-colors",
    "./config/config-text",


    //----------- util ----------//

    "./util/size",    
    "./util/margin",
    "./util/position",
    "./util/margin",
    "./util/images",
    "./util/list",


    //----------- html ----------//

    //style
    "html",
    "body",
    "text-global",
    
    //----------- loading ----------//

    "preloader",

     //----------- components ----------//

    //nav
    "forms",
    "buttons",
    "nav",
    "masthead"
;

//----------- content ----------//

@import "./content/isotope",
        "./content/slider",
        "./content/modal"
        ;